/* CSSZENGARDEN
*
* /sass/components/fifthsection.scss -  Design of the Fourth Section REQUIREMENTS
*
* coded by Dylan Schirino
* started at 04/04/2016
*/
.requirements{
  background: url("../image/Koala.svg")no-repeat 252px 41px,$requirementsBckg;
  background-size:30em;
  padding-bottom: 18em;
  &:hover{
    background: url("../image/KoalaHover.svg")no-repeat 252px 41px,$requirementsBckg;
    background-size:30em;
  }
  & p{
    color:white;
  }
}
@media screen and (max-width:1080px){
  .requirements{
    background-position: 10px 41px;
    &:hover{
      background-position: 10px 41px;
    }
  }
}
@media screen and (max-width:699px){
  .requirements{
    background-size: 25em;
    &:hover{
      background-size: 25em;
    }
  & h3{
    font-size: 2.5em;
  }
}
}
@media screen and (max-width:430px){
  .requirements{
    background-size: 10em;
    &:hover{
      background-size: 10em;
    }
  }
  & h3{
    font-size: 2.5em;
    margin-left: -5em;
  }
}
